.form {
    width: 50%;
    margin: auto;
    text-align: right;

    // border-style: solid;
    .control::placeholder {
        text-align: right;
    }

    .header-background {
        background-color: #35db80;
        width: 100%;
        height: 80px;
        position: relative;
        top: -326px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        margin: 13px;
    }
}

.ui.form {
    position: relative;
    width: 96%;
}

.ui.modal .actions>.button {
    margin-left: .75em;
    position: relative;
    top: 37px;
    width: 105px;
    height: 37px;
    padding: 7px;
    left: 0;
}