.sale-page {

    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0px;
    margin: auto;
    background-image: url("../../assets/green.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    z-index: 2;
    .header p {
        position: relative;
        top: 29px;
        left: 18%;
        font-size: 18px;
        z-index: 9;
        color: black;
    }

    p {
        position: relative;
        right: 46px;
    }

    .navbar {
        position: absolute;
        left: .5cm;
        // border-style: dashed;
    }

    .home {
        position: absolute;
        z-index: 3;
        display: flex;
        width: 100%;
        min-width: 9cm;
        top: 25%;
        align-items: center;
        align-self: center;
        justify-content: center;
        flex-direction: column;

        .container {
            width: 312px;
            height: 30%;
            align-items: center;
            box-sizing: border-box;
            position: absolute;
            left: 68%;
            top: 142px;
            z-index: 3;
        }

        img {
            width: 29%;
            position: absolute;
            left: 21%;
            top: 55px;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        left: 21px;
        align-items: center;
    }

    .paleGreenBg {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 100%;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 1;

        img {
            width: 55%;
        }

        // border-style: solid;
    }


}